In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../final_data.csv')
df.head(2)

      순번 이수구분   교과목명  성적  학점  semester   단과명  직무중분류
0  A0001   교양     철학   9   2         6  체육대학   26.0
1  A0001   전선  스포츠일반   7   3         5  체육대학   26.0

In [13]:
df['순번'] =  df['순번'].astype('category')
df['순번'] = df.순번.cat.codes

In [14]:
def sub_with_cond(index, semester):
    cond_num = 1
    grade = 9
    while grade >= 0 and cond_num <= 20:
        globals()['sub_list{}'.format(cond_num)] = df.loc[((df['순번']==index)
                                                           &(df['semester']==semester)
                                                           &(df['성적']==grade)
                                                           &(df['학점']==3))]['교과목명']
        cond_num += 1
        globals()['sub_list{}'.format(cond_num)] =  df.loc[((df['순번']==index)
                                                           &(df['semester']==semester)
                                                           &(df['성적']==grade)
                                                           &(df['학점']==2))]['교과목명']
        cond_num += 1
        grade -= 1

In [15]:
y_list = []
for i in range(1068):
    # 학기별로 바꿔서 사용
    sub_with_cond(i,semester=5)
    final_list = []
    for j in range(1,21):
        sub_lists = eval("sub_list" + str(j)).tolist()
        for k in sub_lists:
            if len(sub_lists) > 0:
                final_list.append(k)
    y_list.append(final_list)

In [16]:
y = []
for i in y_list:
    if len(i) > 0:
        y.append(i[0])
    else:
        y.append('')

In [17]:
from collections import Counter
counter = Counter(y)
counter.most_common(15)

[('', 208),
 ('경제학', 46),
 ('패션일반', 35),
 ('전기전자학', 35),
 ('패션기타', 32),
 ('컴퓨터소프트웨어', 28),
 ('법률학', 28),
 ('경영학', 27),
 ('국문학', 23),
 ('컴퓨터일반', 23),
 ('미술학', 21),
 ('회계학', 21),
 ('인사관리론', 20),
 ('가정학', 19),
 ('물리학', 18)]